<configuration>
	<configSections>
		<sectionGroup name="VersionOne">
			<section name="Themes_to_Epics" type="VersionOne.Themes_to_Epics.Configuration,Themes-to-Epics"/>
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="Url" value="http://RD/U" />
		<add key="Username" value="admin" />
		<add key="Password" value="admin" />
	</appSettings>
	
	<VersionOne>
		<Themes_to_Epics>
			<customFields>
				<copy type="DropDown" from-theme="Resolution" to-epic="Resolution2" />
			</customFields>
		</Themes_to_Epics>
	</VersionOne>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
