<configuration>
	<configSections>
		<sectionGroup name="VersionOne">
			<section name="Themes_to_Epics" type="VersionOne.Themes_to_Epics.Configuration,Themes-to-Epics"/>
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="Url" value="http://RD/U" />
		<add key="Username" value="admin" />
		<add key="Password" value="admin" />
	</appSettings>
	
	<VersionOne>
		<Themes_to_Epics>
			<customFields>
				<!-- These custom fields are the part AFTER the "Custom_" prefix -->
				<copy type="DropDown" from-theme="Resolution" to-epic="Resolution2" />
				<copy type="Text" from-theme="MyText2" to-epic="SFDCAccountID" />
				<copy type="Checkbox" from-theme="MyCheckbox" to-epic="EstimateMe2" />
				<copy type="Number" from-theme="MyNumber" to-epic="EmailAttempts" />
				<copy type="Date" from-theme="MyDate" to-epic="ScheduledOn" />
				<copy type="RichText" from-theme="MyDescription" to-epic="MyDescription2" />
			</customFields>
		</Themes_to_Epics>
	</VersionOne>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
